h1 {
    font-size: 360%;
    color: #fff;
    margin: 20px 0 0 0;
}

li {
    margin-bottom: 1em;
}

html {
    background: url(http://www.mozilla.com/img/tignish/template/background-tile.png) repeat-x 50% -145px #fff;
}

body {
    padding: 20px;
    background: url(http://www.mozilla.com/img/tignish/template/background-feature.jpg) 50% -145px no-repeat;
}

ul {
    width: 500px !important;
}

ul,p,#main-feature {
    width: 900px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    left: 0;
}

p {
    clear: left;
    padding-top: 50px;
}

ul li {
    float: left;
    padding: 20px 50px 20px 10px;
    background: none;
    max-width: 210px;
}

ul li a {
     font-weight: bold;
    font-family: verdana, sans-serif;
    background-position: 0 50%;
    background-repeat: no-repeat;
    display: block;
    padding-left: 22px;
    margin-bottom: 5px;
}

ul li small {display: block;
    font-size: 65%;
    font-family: verdana, sans-serif;
    margin-top: 3px;
}

ul li.windows a {
    background-image:url(http://www.mozilla.com/img/ico-win.png);
}

ul li.mac     a {
    background-image:url(http://www.mozilla.com/img/ico-osx.png);
}

ul li.linux   a {
    background-image:url(http://www.mozilla.com/img/ico-tux.png);
}

#main-feature {
    padding: 0;
    background: url(firefox.png) 0 0 no-repeat;
}

#main-feature p {
    margin: 0 0 55px 0;
    padding: 0;
    font-size: 137%;
}

#main-feature p, #main-feature h1 {
    margin-left: 120px;
    width: auto;
}
