h1 {
    font-size: 360%;
    color: #333;
    margin: 0;
}

li {
    margin-bottom: 1em;
}

body {
    font-family: Georgia, serif;
    padding: 20px;
    background: url(blueGradient.png) top left repeat-x;
    color: #333333;
}

#builds {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 800px;
}

ul,p,#main-feature {
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    left: 0;
}

ul,p {
    margin-left: 125px;
    width: auto;
}

p {
    clear: left;
    padding-top: 50px;
}

ul li {
    float: left;
    padding: 20px 50px 20px 10px;
    background: none;
    max-width: 210px;
}

ul li a {
    font-weight: bold;
    font-family: Georgia, serif;
    background-position: 0 50%;
    background-repeat: no-repeat;
    display: block;
    padding-left: 22px;
    margin-bottom: 5px;
}

ul li small {display: block;
    font-size: 65%;
    font-family: Georgia, serif;
    margin-top: 3px;
}

ul li.windows a {
    background-image:url(http://www.mozilla.com/img/ico-win.png);
}

ul li.mac     a {
    background-image:url(http://www.mozilla.com/img/ico-osx.png);
}

ul li.linux   a {
    background-image:url(http://www.mozilla.com/img/ico-tux.png);
}

#main-feature {
    padding: 5px 0 0 5px;
    background: url(nightly.png) 0 0 no-repeat;
}

#main-feature p {
    margin: 0 0 55px 0;
    padding: 0;
    font-size: 137%;
}

#main-feature p, #main-feature h1 {
    margin-left: 120px;
    width: auto;
}
