<!doctype html>
<html class="no-js" lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024">
  <title>Firefox Nightly Builds</title>

  <link rel="stylesheet" media="screen,projection,tv" href="css/template.css">
  <link rel="stylesheet" media="screen,projection,tv" href="css/nightly.css">
</head>
<body>

{# start #header #}
<div id="header">
  <div>
    <h1><a href="http://www.mozilla.com/firefox/" title="{{ _('Back to home page') }}">{{ _('Mozilla Firefox') }}</a></h1>
    <a href="http://www.mozilla.org/" class="mozilla">{{ _('Mozilla') }}</a>

    {# start menu #nav-main #}
    <div id="nav-main" role="navigation">
      <ul role="menubar">
        <li id="nav-main-features" class="first">
          <a aria-haspopup="true" aria-owns="nav-main-features-submenu" tabindex="0" href="http://www.mozilla.com/firefox/features/">Desktop</a>
          <ul id="nav-main-features-submenu" aria-expanded="false">
            <li class="first"><a tabindex="-1" href="http://www.mozilla.com/firefox/features/">{{ _('Features') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/firefox/security/">{{ _('Security') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/firefox/performance/">{{ _('Performance') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/firefox/customize/">{{ _('Customization') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/firefox/technology/">{{ _('Technology') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/firefox/video/">{{ _('Videos') }}</a></li>
            <li class="last"><a tabindex="-1" href="http://www.mozilla.com/firefox/central/">{{ _('Tour') }}</a></li>
          </ul>
        </li>

        <li id="nav-main-mobile">
          <a aria-haspopup="true" aria-owns="nav-main-mobile-submenu" tabindex="0" href="http://www.mozilla.com/mobile/">{{ _('Mobile') }}</a>
          <ul id="nav-main-mobile-submenu" aria-expanded="false">
            <li class="first"><a tabindex="-1" href="http://www.mozilla.com/mobile/">{{ _('Mobile Overview') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/mobile/download/">{{ _('Download') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/mobile/features/">{{ _('Features') }}</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/mobile/?browse=featured">{{ _('Customize') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/mobile/sync/">{{ _('Sync') }}</a></li>
            <li><a tabindex="-1" href="https://developer.mozilla.org/mobile">{{ _('Develop') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/mobile/getinvolved/">{{ _('Get Involved') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/mobile/faq/">{{ _('FAQ') }}</a></li>
            <li class="last"><a tabindex="-1" href="https://blog.mozilla.com/mobile/">{{ _('Blog') }}</a></li>
          </ul>
        </li>

        <li id="nav-main-addons">
          <a aria-haspopup="true" aria-owns="nav-main-addons-submenu" tabindex="0" href="https://addons.mozilla.org/">{{ _('Add-ons') }}</a>
          <ul id="nav-main-addons-submenu" aria-expanded="false">
            <li class="first"><a tabindex="-1" href="https://addons.mozilla.org/firefox/">{{ _('Firefox Add-ons') }}</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/featured/">{{ _('Featured Add-ons') }}</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/extensions/">{{ _('Extensions') }}</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/themes/">{{ _('Themes') }}</a></li>
            <li><a tabindex="-1" href="http://www.getpersonas.com/">{{ _('Personas') }}</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/search-tools/">{{ _('Search Tools') }}</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/language-tools/">{{ _('Language Support') }}</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/firefox/collections/">{{ _('Collections') }}</a></li>
            <li><a tabindex="-1" href="https://addons.mozilla.org/mobile/">{{ _('Mobile Add-ons') }}</a></li>
            <li class="last"><a tabindex="-1" href="https://addons.mozilla.org/firefox/developers/">{{ _('Developer Hub') }}</a></li>
          </ul>
        </li>

        <li id="nav-main-support">
          <a aria-haspopup="true" aria-owns="nav-main-support-submenu" tabindex="0" href="http://support.mozilla.com/">{{ _('Support') }}</a>
          <ul id="nav-main-support-submenu" aria-expanded="false">
            <li class="first"><a tabindex="-1" href="http://support.mozilla.com/kb/">{{ _('Firefox Support') }}</a></li>
            <li><a tabindex="-1" href="http://support.mozilla.com/mobile">{{ _('Mobile Support') }}</a></li>
            <li class="last"><a tabindex="-1" href="http://support.mozillamessaging.com/kb/">{{ _('Thunderbird Support') }}</a></li>
          </ul>
        </li>

        <li id="nav-main-about" class="last">
          <a aria-haspopup="true" aria-owns="nav-main-about-submenu" tabindex="0" href="http://www.mozilla.com/about/">{{ _('About') }}</a>
          <ul id="nav-main-about-submenu" aria-expanded="false">
            <li class="first"><a tabindex="-1" href="http://www.mozilla.com/about/">{{ _('About Firefox') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.org/join">{{ _('Join Mozilla') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/about/participate/">{{ _('Participate') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/press/">{{ _('Press Center') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/about/careers.html">{{ _('Careers') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/about/partnerships.html">{{ _('Partnerships') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/about/legal.html">{{ _('Legal') }}</a></li>
            <li><a tabindex="-1" href="http://www.mozilla.com/about/contact.html">{{ _('Contact Us') }}</a></li>
            <li class="last"><a tabindex="-1" href="http://blog.mozilla.com/">{{ _('Blog') }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
    {# end menu #nav-main #}

  </div>
</div>
{# end #header #}

<!-- MAIN CONTENT -->

<div id="main-content">
  <header id="nightly-title">
    <h1><span>Firefox<sup>&reg;</sup></span> Nightly</h1>
    <h2>These builds are for testing purposes only.</h2>
  </header>

  <div id="builds">
    {% for group in files %}
      <div id="{{ group['name'] }}" class="build-group">
        <h3>
          {{ group['name'] }}
          {% if group['subtitle'] %}
            <small>{{ group['subtitle'] }}</small>
          {% endif %}
        </h3>

        <ul>
          {% set previous_build_name = '' %}

          {% for build in group['builds'] %}
            {% if build['link'] %}
              <li class="{{ build['class'] }}
                {{ 'first' if previous_build_name != build['class'] }}">
                <a href="{{ build['link'] }}">
                  {{ build['name'] }}
                  <small>{{ build['size'] }}B | {{ build['extension'] }}</small>
                </a>
              </li>
            {% else %}
              <!-- Nothing available for {{ build['name'] }} -->
            {% endif %}

            {% set previous_build_name = build['class'] %}
          {% endfor %}
        </ul>

        <div class="clear"></div>
      </div>
    {% endfor %}
  </div>

  <div id="nightly-links">
    <section>
      <h3>Getting Started</h3>

      <ul>
        <li><a href="https://input.mozilla.com/feedback">Submit your feedback</a></li>
        <li><a href="https://developer.mozilla.org/en/Crash_reporting">Submit crash reports</a></li>
        <li><a href="https://litmus.mozilla.org/">Run test cases in Litmus</a></li>
        <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox">Report bugs in Bugzilla</a></li>
      </ul>
    </section>

    <section>
      <h3>Mailing Lists</h3>

      <ul>
        <li><a href="https://mail.mozilla.org/listinfo/nightly-testers">Nightly-Testers on Desktop</a></li>
        <li><a href="https://mail.mozilla.org/listinfo/android-mobile-nightly-testers">Nightly-Testers on Android</a></li>
        <li><a href="https://mail.mozilla.org/listinfo/maemo-mobile-nightly-testers">Nightly-Testers on Maemo</a></li>
      </ul>
    </section>

    <section>
      <h3>Useful Add-ons</h3>

      <ul>
        <li><a href="https://addons.mozilla.org/firefox/addon/nightly-tester-tools/">Nightly Tester Tools</a></li>
        <li><a href="https://addons.mozilla.org/firefox/addon/mozilla-qa-companion/">QA Companion</a></li>
        <li><a href="https://addons.mozilla.org/firefox/addon/add-on-compatibility-reporter/">Add-on Compatibility Reporter</a></li>
        <li><a href="https://addons.mozilla.org/firefox/addon/mozmill/">MozMill</a></li>
      </ul>
    </section>

    <section>
      <h3>Other Resources</h3>

      <ul>
        <li><a href="http://hg.mozilla.org/mozilla-central/pushloghtml?startdate=48+hours+ago&amp;enddate=now">Last 48 hours of check-ins</a></li>
        <li><a
          href="http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly">Other Nightly Builds (FTP)</a></li>
        <li><a href="http://www.squarefree.com/burningedge/">The Burning Edge blog</a></li>
        <li><a href="http://forums.mozillazine.org/viewforum.php?f=23">Firefox Builds forum</a></li>
        <li><a href="https://wiki.mozilla.org/Releases">Release information</a></li>
        <li><a href="https://wiki.mozilla.org/Features/Release_Tracking">Firefox Flight Tracking</a></li>
      </ul>
    </section>

    <div class="clear"></div>
  </div>
</div>

<!-- END MAIN -->

<div id="sub-footer">
  <div id="sub-footer-contents">
    {% block sub_footer %}
      <h3>{{ _('Let&rsquo;s be <span>friends!</span>')|safe }}</h3>
      <ul class="social">
        <li id="footer-twitter"><a href="http://twitter.com/firefox">
          {{ _('Twitter') }}
        </a></li>
        <li id="footer-facebook"><a href="http://Facebook.com/Firefox">
          {{ _('Facebook') }}
        </a></li>
        <li id="footer-connect"><a href="http://www.mozilla.com/firefox/connect/">
          {{ _('More Ways to Connect') }}
        </a></li>
      </ul>

      <p id="sub-footer-newsletter">
        <span class="intro">{{ _('Want us to keep in touch?') }}</span>
        <a href="http://www.mozilla.com/newsletter/">{{ _('Get Monthly News <span>&raquo;</span>') }}</a>
      </p>
    {% endblock %}
  </div>
</div>

<div id="footer">
  <div id="footer-contents" role="contentinfo">
    <div id="footer-right">
      {% block lang_switcher %}
      {% endblock %}
    </div>

    <h3 id="footer-logo">
      <a href="http://www.mozilla.com/firefox/" title="{{ _('Back to home page') }}">{{ _('Firefox') }}</a>
    </h3>

    {# start footer menu #}
    <div id="footer-menu" role="navigation">
      <ul>
        <li>
          <a href="http://www.mozilla.com/firefox/features/">{{ _('Desktop') }}</a>
          <ul>
            <li><a href="http://www.mozilla.com/firefox/features/">{{ _('Features') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/security/">{{ _('Security') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/performance/">{{ _('Performance') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/customize/">{{ _('Customization') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/technology/">{{ _('Technology') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/video/">{{ _('Videos') }}</a></li>
            <li><a href="http://www.mozilla.com/firefox/central/">{{ _('Tour') }}</a></li>
          </ul>
        </li>

        <li>
          <a href="http://www.mozilla.com/mobile/">{{ _('Mobile') }}</a>
          <ul>
            <li><a href="http://www.mozilla.com/mobile/">{{ _('Mobile Overview') }}</a></li>
            <li><a href="http://www.mozilla.com/mobile/download/">{{ _('Download') }}</a></li>
            <li><a href="http://www.mozilla.com/mobile/features/">{{ _('Features') }}</a></li>
            <li><a href="https://addons.mozilla.org/mobile/?browse=featured">{{ _('Customize') }}</a></li>
            <li><a href="http://www.mozilla.com/mobile/sync/">{{ _('Sync') }}</a></li>
            <li><a href="https://developer.mozilla.org/mobile">{{ _('Develop') }}</a></li>
            <li><a href="http://www.mozilla.com/mobile/getinvolved/">{{ _('Get Involved') }}</a></li>
            <li><a href="http://www.mozilla.com/mobile/faq/">{{ _('FAQ') }}</a></li>
            <li><a href="https://blog.mozilla.com/mobile/">{{ _('Blog') }}</a></li>
          </ul>
        </li>

        <li>
          <a href="https://addons.mozilla.org/">{{ _('Add-ons') }}</a>
          <ul>
            <li><a href="https://addons.mozilla.org/firefox/">{{ _('Firefox Add-ons') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/featured/">{{ _('Featured Add-ons') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/extensions/">{{ _('Extensions') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/themes/">{{ _('Themes') }}</a></li>
            <li><a href="http://www.getpersonas.com/">{{ _('Personas') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/search-tools/">{{ _('Search Tools') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/language-tools/">{{ _('Language Support') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/collections/">{{ _('Collections') }}</a></li>
            <li><a href="https://addons.mozilla.org/mobile/">{{ _('Mobile Add-ons') }}</a></li>
            <li><a href="https://addons.mozilla.org/firefox/developers/">{{ _('Developer Hub') }}</a></li>
          </ul>
        </li>

        <li>
          <a href="http://support.mozilla.com/">{{ _('Support') }}</a>
          <ul>
            <li><a href="http://support.mozilla.com/kb/">{{ _('Firefox Support') }}</a></li>
            <li><a href="http://support.mozilla.com/mobile">{{ _('Mobile Support') }}</a></li>
            <li><a href="http://support.mozillamessaging.com/kb/">{{ _('Thunderbird Support') }}</a></li>
          </ul>
        </li>

        <li>
          <a href="http://www.mozilla.com/about/">{{ _('About') }}</a>
          <ul>
            <li><a href="http://www.mozilla.com/about/">{{ _('About Firefox') }}</a></li>
            <li><a href="http://www.mozilla.org/join">{{ _('Join Mozilla') }}</a></li>
            <li><a href="http://www.mozilla.com/about/participate/">{{ _('Participate') }}</a></li>
            <li><a href="http://www.mozilla.com/press/">{{ _('Press Center') }}</a></li>
            <li><a href="http://www.mozilla.com/about/careers.html">{{ _('Careers') }}</a></li>
            <li><a href="http://www.mozilla.com/about/partnerships.html">{{ _('Partnerships') }}</a></li>
            <li><a href="http://www.mozilla.com/about/legal.html">{{ _('Legal') }}</a></li>
            <li><a href="http://www.mozilla.com/about/contact.html">{{ _('Contact Us') }}</a></li>
            <li><a href="http://blog.mozilla.com/">{{ _('Blog') }}</a></li>
          </ul>
        </li>

      </ul>
    </div>
    {# end footer menu #}

    <div id="copyright">
      <ul id="footer-links">
        <li><a href="http://www.mozilla.com/privacy-policy.html">{{ _('Privacy Policy') }}</a></li>
        <li><a href="http://www.mozilla.com/about/legal.html">{{ _('Legal Notices') }}</a></li>
        <li class="last"><a href="http://www.mozilla.com/legal/fraud-report/index.html">
          {{ _('Report Trademark Abuse') }}
        </a></li>
      </ul>
      <p>
        {% trans legal_url='http://www.mozilla.com/about/legal.html#site',
                 license_url='http://creativecommons.org/licenses/by-sa/3.0/' %}
          Except where otherwise <a href="{{ legal_url }}">noted</a>,
          content on this site is licensed under the <br/>
          <a href="{{ license_url }}">Creative Commons Attribution Share-Alike License v3.0</a>
          or any later version.
        {% endtrans %}
      </p>
    </div>

  </div>{# /footer-contents #}
</div>

<script src="js/jquery-1.4.4.js"></script>
<script src="js/nav-main.js"></script>

</body>
</html>
