<!doctype html>
<html class="no-js" lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024">
  <meta name="og:image"
        content="http://mozcom-cdn.mozilla.net/img/firefox-100.jpg">
  <title>Firefox Nightly Builds</title>

  <style>
    /* MetaWebPro font family licensed from fontshop.com. WOFF-FTW! */
    @font-face {
        font-family: 'MetaBlack';
        src: url('fonts/MetaWebPro-Black.eot');
        src: local(' '), url('fonts/MetaWebPro-Black.woff') format('woff');
        font-weight: bold;
    }
  </style>

  <link rel="stylesheet" media="screen,projection,tv" href="css/template.css">
  <link rel="stylesheet" media="screen,projection,tv" href="css/nightly.css">
  <link rel="icon" type="image/png" href="img/favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="img/favicon.ico"><![endif]-->
</head>
<body>

{% include "header.html" %}

<div id="main-content">
  <header id="nightly-title">
    <h1><span>Firefox<sup>&reg;</sup></span> Nightly</h1>
    <h2>These builds are for testing purposes only.</h2>
  </header>

  <div id="builds">
    {% for group in files %}
      <div id="{{ group['name'] }}" class="build-group">
        <h3>
          {{ group['name'] }}
          {% if group['subtitle'] %}
            <small>{{ group['subtitle'] }}</small>
          {% endif %}
        </h3>

        <ul>
          {% set previous_build_name = '' %}

          {% for build in group['builds'] %}
            {% if build['link'] %}
              <li class="{{ build['class'] }}
                {{ 'first' if previous_build_name != build['class'] }}">
                <a href="{{ build['link'] }}">
                  {{ build['name'] }}
                  <small>{{ build['size'] }}B | {{ build['extension'] }}</small>
                </a>
              </li>
            {% else %}
              <!-- Nothing available for {{ build['name'] }} -->
            {% endif %}

            {% set previous_build_name = build['class'] %}
          {% endfor %}
        </ul>

        <div class="clear"></div>
      </div>
    {% endfor %}
  </div>

  <p id="warning">Firefox Nightly automatically sends feedback to Mozilla. <a href="http://www.mozilla.org/legal/privacy/firefox.html#telemetry">Learn more.</a></p>

  <div id="nightly-links">
    <section>
      <h3>Getting Started</h3>

      <ul>
        <li><a href="https://input.mozilla.com/feedback">Submit your feedback</a></li>
        <li><a href="https://developer.mozilla.org/en/Crash_reporting">Submit crash reports</a></li>
        <li><a href="https://moztrap.mozilla.org/">Run test cases in MozTrap</a></li>
        <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox">Report Firefox bugs in Bugzilla</a></li>
        <li><a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox%20for%20Android">Report Firefox for Android bugs</a></li>
      </ul>
    </section>

    <section>
      <h3>Mailing Lists</h3>

      <ul>
        <li><a href="https://mail.mozilla.org/listinfo/nightly-testers">Nightly-Testers on Desktop</a></li>
        <li><a href="https://mail.mozilla.org/listinfo/android-mobile-nightly-testers">Nightly-Testers on Android</a></li>
      </ul>
    </section>

    <section>
      <h3>Useful Add-ons</h3>

      <ul>
        <li><a href="https://addons.mozilla.org/firefox/addon/nightly-tester-tools/">Nightly Tester Tools</a></li>
        <li><a href="https://addons.mozilla.org/firefox/addon/add-on-compatibility-reporter/">Add-on Compatibility Reporter</a></li>
        <li><a href="https://addons.mozilla.org/firefox/addon/mozmill/">MozMill</a></li>
      </ul>
    </section>

    <section>
      <h3>Other Resources</h3>

      <ul>
        <li><a href="http://hg.mozilla.org/mozilla-central/pushloghtml?startdate=48+hours+ago&amp;enddate=now">Last 48 hours of check-ins</a></li>
        <li><a
          href="http://ftp.mozilla.org/pub/mozilla.org/firefox/nightly">Other Nightly Builds (FTP)</a></li>
        <li><a href="http://www.squarefree.com/burningedge/">The Burning Edge blog</a></li>
        <li><a href="http://forums.mozillazine.org/viewforum.php?f=23">Firefox Builds forum</a></li>
        <li><a href="https://wiki.mozilla.org/Releases">Release information</a></li>
        <li><a href="https://wiki.mozilla.org/Features/Release_Tracking">Firefox Flight Tracking</a></li>
      </ul>
    </section>

    <div class="clear"></div>
  </div>
</div>

<!-- END MAIN -->

<div id="sub-footer">
  <div id="sub-footer-contents">
    {% block sub_footer %}
      <h3>{{ _('Let&rsquo;s be <span>friends!</span>')|safe }}</h3>
      <ul class="social">
        <li id="footer-twitter"><a href="http://twitter.com/firefox">
          {{ _('Twitter') }}
        </a></li>
        <li id="footer-facebook"><a href="http://Facebook.com/Firefox">
          {{ _('Facebook') }}
        </a></li>
        <li id="footer-connect"><a href="http://www.mozilla.com/firefox/connect/">
          {{ _('More Ways to Connect') }}
        </a></li>
      </ul>

      <p id="sub-footer-newsletter">
        <span class="intro">{{ _('Want us to keep in touch?') }}</span>
        <a href="http://www.mozilla.com/newsletter/">{{ _('Get Monthly News <span>&raquo;</span>') }}</a>
      </p>
    {% endblock %}
  </div>
</div>

<div id="footer">
  <div id="footer-contents" role="contentinfo">
    {% include "footer.html" %}
  </div>
</div>

<script src="js/jquery-1.4.4.js"></script>
<script src="js/nav-main.js"></script>
<script src="js/nightly.js"></script>
<script>
$(window).resize(function(){
  if ($(window).width() <= 800){  
    $('#Mobile').insertBefore('#Desktop');
  } else if ($(window).width() > 800) {
    $('#Desktop').insertBefore('#Mobile');
  }
});
</script>

</body>
</html>
